/*********************************************************
Jumpseller Theme - checkout.css
> Shopping Process Pages: Cart, Checkout, Review Order, Success

1. Cart Page
2. Cart Header
3. Cart Summary
4. Estimate Shipping
5. Coupon Form
6. Checkout form
7. Customer Registration form on Success page (Credentials)
8. Shopping Process Media Queries
*********************************************************/

/* 1. Cart Page
======================================================== */
.cart-page,
.cart-page__container {
  min-height: 100vh;
}

.cart-page__content {
  padding: calc(var(--section-content-static-padding) * 3) calc(var(--section-content-static-padding) * 2) calc(var(--section-content-static-padding) * 1);
}

.cart-page__message {
  padding: calc(var(--section-content-static-padding));
  border: 1px solid var(--color-border);
  margin-bottom: calc(var(--section-content-static-padding) * 2);
  background: var(--color-main-op05);
  font-size: calc(var(--font-base-size) * 0.9);
}

.cart-page__divider {
  border-color: var(--color-main-op1);
  margin: calc(var(--section-content-static-padding) * 0.5) auto calc(var(--section-content-static-padding) * 2.25);
  opacity: 1;
}

.cart-page__heading {
  padding: calc(var(--section-content-static-padding) * 1.5) var(--section-content-static-padding) calc(var(--section-content-static-padding) * 1.25);
  border-width: 1px 1px 0;
  border-style: solid;
  border-color: var(--color-border);
}

.cart-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-page__clear-cart {
  padding: 1px 0;
  border-bottom: 1px solid var(--color-secondary);
  margin-bottom: calc(var(--section-content-static-padding) * 2);
  background: transparent !important;
  color: var(--color-secondary) !important;
  font-size: 80%;
  font-weight: normal !important;
}

.cart-page__clear-cart:hover {
  border-color: var(--color-links) !important;
  color: var(--color-links) !important;
}

.cart-page__title {
  margin-bottom: calc(var(--section-content-static-padding) * 2);
  font-size: calc(var(--font-base-size) * 1.1);
  font-weight: 600;
}

.cart-page__title--large {
  font-size: calc(var(--font-base-size) * 1.35);
}

.cart-page__title:has(.cart-page__label) {
  padding: calc(var(--font-base-size) * 0.25) 0;
}

.cart-page__label {
  padding: calc(var(--font-base-size) * 0.25) calc(var(--font-base-size) * 0.5);
  font-size: calc(var(--font-base-size) * 1);
}

.cart-page__group {
  padding: 0 calc(var(--section-content-static-padding) * 2);
  margin-bottom: calc(var(--section-content-static-padding) * 2);
}

.cart-page__box {
  padding: calc(var(--section-content-static-padding) * 1.5) var(--section-content-static-padding) 0;
  border: 1px solid var(--color-border);
}

.cart-page__box:has(.cart-page__subtitle) {
  padding-top: calc(var(--section-content-static-padding) * 2);
}

.cart-page__column {
  padding: 0 var(--section-content-static-padding);
  margin-bottom: calc(var(--section-content-static-padding) * 1.5);
}

.cart-page__subtitle {
  color: var(--color-secondary-op7);
  font-size: calc(var(--font-base-size) * 0.8);
  font-weight: 500;
}

.cart-page__text {
  color: var(--color-secondary);
  font-size: var(--font-base-size);
}

.cart-page__text--small {
  font-size: calc(var(--font-base-size) * 0.85);
  line-height: calc(var(--font-base-line-height) * 0.75);
}

.cart-page__text + .cart-page__text {
  margin-top: calc(var(--section-content-static-padding));
}

.cart-page__text *:last-child {
  margin-bottom: 0;
}

.cart-page__icon {
  position: relative;
  top: calc(var(--font-base-size) * 0.25);
  margin-right: calc(var(--font-base-size) * 0.5);
  font-size: calc(var(--font-base-size) * 1.35);
}

.cart-page__link {
  color: var(--color-links) !important;
  font-weight: 600;
}

.cart-page__link:hover {
  color: var(--color-links-hover) !important;
  text-decoration: underline !important;
}

.cart-page__button {
  margin-top: var(--section-content-static-padding);
}

.cart-products {
  margin-right: var(--section-content-static-margin);
  margin-left: var(--section-content-static-margin);
}

product-download {
  display: block;
}

#download-zip {
  position: relative;
  padding-right: calc(var(--font-base-size) * 2) !important;
}

#download-icon {
  position: absolute;
  right: calc(var(--font-base-size) * 0.875);
}

/* Cart page Product table */
.cart-page__product-table .store-product {
  padding: 0;
  margin: 0 !important;
}

.cart-page__product-table .store-product__wrapper {
  padding-right: calc(var(--pb-padding) * 2) !important;
  padding-left: calc(var(--pb-padding) * 2) !important;
  border-radius: 0 !important;
  border-bottom: 0 !important;
}

.cart-page__product-table .store-product__info {
  display: grid;
  grid-gap: calc(var(--pb-padding) * 0.5);
  grid-template-columns: 2fr 1fr;
}

.cart-page__product-table .store-product__pricing {
  display: flex;
  justify-content: end;
}

/* Cart page products */
.cart-page__content .store-product {
  padding-right: var(--section-content-static-padding);
  padding-left: var(--section-content-static-padding);
  margin-bottom: var(--section-content-static-padding);
}

.cart-page__content .store-product__wrapper {
  height: 100%;
  padding: calc(var(--pb-padding) * 1.25) var(--pb-padding);
  border: 1px var(--theme-border-style) var(--color-main-op1);
}

/* 2. Cart Header
======================================================== */
.cart-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--section-content-static-padding);
  margin-bottom: calc(var(--section-content-static-padding) * 2);
  gap: calc(var(--section-content-static-padding) * 2);
  text-align: center;
}

.cart-header:not(.cart-header--success) {
  padding-bottom: calc(var(--section-content-static-padding) * 2);
  border-bottom: 1px var(--theme-border-style) var(--color-border);
}

.cart-header__brand {
  display: block;
  width: fit-content;
}

.cart-header__picture,
.cart-header__logo {
  display: block;
  width: auto;
  max-width: 100%;
}

.cart-header__logo {
  object-fit: contain;
  object-position: var(--theme-image-position);
}

.cart-header__menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: calc(var(--section-content-static-padding) * 0.75);
}

.cart-header__item {
  display: block;
  line-height: 1;
}

.cart-header__text,
.cart-header__link,
.cart-header__caret {
  color: var(--color-secondary);
}

.cart-header__text,
.cart-header__link {
  font-size: calc(var(--font-base-size) * 0.8);
}

.cart-header__caret {
  font-size: calc(var(--font-base-size) * 0.7);
}

[data-current="true"] > .cart-header__text,
[data-current="true"] > .cart-header__link {
  font-weight: 600;
}

[data-current="true"] > .cart-header__text,
[data-current="true"] > .cart-header__link,
.cart-header__link:hover,
.cart-header__link:focus {
  color: var(--color-main);
}

.cart-header__link:hover,
.cart-header__link:focus {
  text-decoration: underline !important;
}

/* 3. Cart Summary
======================================================== */
.cart-summary {
  position: relative;
  padding: calc(var(--section-content-static-padding) * 2) calc(var(--section-content-static-padding) * 2) calc(var(--section-content-static-padding) * 3);
  background: var(--color-main-op05);
}

.cart-summary--empty::after {
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color-background);
  content: "";
  inset: 0;
  opacity: 0.5;
}

.cart-summary__wrapper,
.cart-summary__block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cart-summary__wrapper {
  position: relative;
  z-index: 1;
  gap: calc(var(--section-content-static-padding) * 2);
}

.cart-summary__block {
  gap: calc(var(--section-content-static-padding) * 0.5);
}

.cart-summary__block + .cart-summary__block {
  padding-top: calc(var(--section-content-static-padding) * 1.75);
  border-top: 1px var(--theme-border-style) var(--color-border);
}

.cart-summary__title {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(var(--font-base-size) * 0.9);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.cart-summary__toggle-products {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1px;
  background-color: transparent;
  color: var(--color-links);
  font-size: calc(var(--font-base-size) * 0.8);
  gap: 2px;
}

.cart-summary__toggle-products:hover {
  color: var(--color-main);
}

.cart-summary__toggle-products > span:nth-child(1) {
  display: block;
}

.cart-summary__toggle-products > span:nth-child(2) {
  display: none;
}

.cart-summary__toggle-products.active > span:nth-child(1) {
  display: none;
}

.cart-summary__toggle-products.active > span:nth-child(2) {
  display: block;
}

.cart-summary__toggle-products > .ph-caret-down {
  transform: rotate(0);
  transition: transform 0.25s ease-in-out;
}

.cart-summary__toggle-products.active > .ph-caret-down {
  transform: rotate(180deg);
}

.cart-summary__text {
  color: var(--color-secondary);
  font-size: calc(var(--font-base-size) * 0.9);
}

.cart-summary__products {
  padding-top: calc(var(--section-content-static-padding) * 1.25);
  margin-right: var(--section-content-margin);
  margin-left: var(--section-content-margin);
}

.cart-summary__products .store-product:last-child {
  margin-bottom: 0;
}

/* 3. Estimate Shipping
======================================================== */
#estimate_shipping,
#estimate_shipping_form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: calc(var(--section-content-static-padding) * 0.5);
}

#estimate_shipping {
  margin-top: var(--section-content-static-padding);
}

#estimate_shipping_form label {
  display: block;
  width: fit-content;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: calc(var(--font-base-size) * 0.9);
  line-height: 1;
}

#estimate_shipping_form .select {
  margin-bottom: var(--section-content-static-padding);
}

#estimates {
  padding: 0;
  margin: calc(var(--section-content-static-padding) * 0.75) 0 calc(var(--section-content-static-padding) * 1.5);
  gap: calc(var(--section-content-static-padding) * 1.5) calc(var(--section-content-static-padding)) !important;
}

#estimates dt {
  display: flex !important;
  align-items: flex-start;
}

#estimates dt > input[type="radio"] {
  position: relative;
  top: 3px;
  margin-right: calc(var(--section-content-static-padding) * 0.5);
}

#estimates dt label,
#estimates dt label > span,
#estimates dd {
  color: var(--color-secondary) !important;
  font-size: calc(var(--font-base-size) * 0.9);
  line-height: 1.25;
}

#estimates dt label {
  cursor: pointer;
}

#estimates #hidden_estimations {
  margin: calc(var(--section-content-static-padding) * 1.25) 0 0;
  gap: calc(var(--section-content-static-padding) * 1.5) calc(var(--section-content-static-padding)) !important;
}

.shipping-information {
  color: var(--color-secondary);
  font-style: italic;
}

#checkout label em {
  color: red;
}

#shipping input:disabled,
#shipping input:disabled + label,
#shipping input:disabled + label:hover {
  color: var(--color-secondary) !important;
  cursor: not-allowed;
  opacity: 0.5;
}

#shipping input:disabled + label + p.shipping-information {
  color: red;
}

#shipping_options p.shipping-information {
  margin-bottom: 0 !important;
}

/* 5. Coupon Form
======================================================== */
#coupon_form {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(var(--section-content-static-padding) * 0.5);
}

#coupon_code,
#set_coupon_code_button {
  height: 44px !important;
}

#coupon_code {
  width: 70% !important;
  border-width: 1px 0 1px 1px !important;
}

#set_coupon_code_button {
  width: 30%;
  padding: 0 calc(var(--font-base-size) * 1.25);
  border-radius: 0;
  background: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
  font-family: var(--font-buttons);
  font-size: calc(var(--font-base-size) * 0.9);
  font-weight: 600;
}

#set_coupon_code_button:hover,
#set_coupon_code_button:focus {
  background: var(--color-button-secondary-bg-hover);
  color: var(--color-button-secondary-text);
}

#coupon_form label.error,
#coupon_form label.success {
  display: block;
  width: 100%;
  padding: calc(var(--section-content-static-padding) * 0.75);
  margin-top: calc(var(--section-content-static-padding));
  color: var(--color-secondary);
  font-size: calc(var(--font-base-size) * 0.9);
  line-height: 1.25;
}

#coupon_form label.success {
  background-color: var(--color-success);
}

#coupon_form label.error {
  background-color: var(--color-error);
}

/* 6. Checkout form
======================================================== */
#checkout {
  width: 100%;
}

#checkout #contacts,
#checkout #shipping_address,
#checkout #billing_address,
#checkout #other {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--section-content-static-padding);
  margin-right: var(--section-content-margin);
  margin-left: var(--section-content-margin);
}

#checkout h2.legend,
#checkout .field {
  padding-right: var(--section-content-static-padding);
  padding-left: var(--section-content-static-padding);
}

#checkout h2.legend {
  width: 100%;
  margin-bottom: calc(var(--section-content-static-padding) * 1.25);
  font-size: calc(var(--font-base-size) * 1.25);
  font-weight: 600;
}

#checkout .field {
  width: 100%;
  margin-bottom: calc(var(--section-content-static-padding) * 1.5);
}

#checkout .field.checkbox-field {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: calc(var(--section-content-static-padding) * 0.5);
  line-height: 1;
}

#checkout .field > label {
  display: block;
  margin-bottom: calc(var(--section-content-static-padding) * 0.5);
  cursor: pointer;
  line-height: 1;
}

#checkout .field:not(.checkbox-field) > label {
  margin-bottom: calc(var(--section-content-static-padding) * 0.5);
}

#checkout .field.checkbox-field > label {
  margin: calc(var(--section-content-static-padding) * 0.25) 0 0;
}

#checkout p.required {
  margin-bottom: calc(var(--section-content-static-padding) * 2);
  color: red;
  font-size: calc(var(--font-base-size) * 0.9);
  font-style: italic;
  grid-area: checkout_required_text;
  grid-column: span 2;
  line-height: 1;
}

/* Checkout > Contacts section */
#checkout #contacts_accepts_marketing {
  padding-right: 0;
  padding-left: 0;
  margin: calc(var(--section-content-static-padding)) 0 0;
}

/* Checkout Payments & Shipping */
#checkout #payments,
#checkout #shipping {
  width: 100%;
  min-width: 100%;
  padding-bottom: calc(var(--section-content-static-padding) * 2);
}

#checkout #payments h2.legend,
#checkout #shipping h2.legend {
  padding: 0;
}

#checkout #payments_options > ul,
#checkout #shipping_options > ul {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border: 1px solid var(--color-background-contrast-op3);
  margin: 0;
  background: var(--color-background);
  list-style-type: none;
}

#checkout #payments_options > ul > li,
#checkout #shipping_options > ul > li {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: calc(var(--section-content-static-padding) * 1.25) calc(var(--section-content-static-padding) * 1.25) calc(var(--section-content-static-padding) * 1.25) calc(var(--section-content-static-padding) * 3);
  border-top: 1px var(--theme-border-style) var(--color-background-contrast-op3);
  background: transparent;
  gap: calc(var(--section-content-static-padding) * 0.5);
  line-height: 1.25;
  transition: all 0.25s ease-in-out;
}

#checkout #payments_options > ul > li:first-child,
#checkout #shipping_options > ul > li:first-child {
  border-top: none;
}

#checkout #payments_options > ul > li:has(.radiobox:checked),
#checkout #shipping_options > ul > li:has(.radiobox:checked) {
  background: var(--color-background-contrast-op05);
}

#checkout #payments_options > ul > li > .radiobox,
#checkout #shipping_options > ul > li > .radiobox {
  position: absolute;
  top: calc(var(--section-content-static-padding) * 1.5);
  left: calc(var(--section-content-static-padding) * 1.25);
}

#checkout #payments_options > ul > li > label,
#checkout #shipping_options > ul > li > label {
  display: block;
  width: 100%;
  color: var(--color-secondary-op7);
  font-size: calc(var(--font-base-size) * 0.95);
  font-weight: 500;
}

#checkout #payments_options > ul > li > label:hover,
#checkout #payments_options > ul > li > .radiobox:checked + label,
#checkout #shipping_options > ul > li > label:hover,
#checkout #shipping_options > ul > li > .radiobox:checked + label {
  color: var(--color-main) !important;
}

#checkout #payments_options > ul > li > br,
#checkout #shipping_options > ul > li > br,
#checkout #payments_options .payment_information:empty {
  display: none !important;
}

#checkout #payments_options .payment_information:not(:empty) {
  display: block;
  width: 100%;
  padding: var(--section-content-static-padding);
  padding-top: 0;
  color: var(--color-secondary);
  font-size: calc(var(--font-base-size) * 0.8);
}

#checkout #payments_options .payment_information img {
  margin-top: calc(var(--section-content-static-padding) * 0.75);
}

/* Hide Checkout actions section */

/* it's handled through the click of the label/button on .cart-summary */
#checkout .actions {
  display: none !important;
}

/* Checkout Form Media Queries */
@media (min-width: 576px) {
  #checkout {
    display: grid;
    width: 100%;
  }

  #checkout:has(#shipping) {
    grid-template-areas:
      "checkout_contacts"
      "checkout_shipping_address"
      "checkout_billing_address"
      "checkout_required_text"
      "checkout_payments"
      "checkout_shipping"
      "checkout_others"
      "checkout_actions";
  }

  #checkout:not(:has(#shipping)) {
    grid-template-areas:
      "checkout_contacts"
      "checkout_billing_address"
      "checkout_required_text"
      "checkout_payments"
      "checkout_others"
      "checkout_actions";
  }

  .cart-page__content #contacts {
    grid-area: checkout_contacts;
    grid-column: span 2;
  }

  .cart-page__content #shipping_address {
    grid-area: checkout_shipping_address;
    grid-column: span 2;
  }

  .cart-page__content #billing_address {
    grid-area: checkout_billing_address;
    grid-column: span 2;
  }

  .cart-page__content #other {
    grid-area: checkout_others;
    grid-column: span 2;
  }

  .cart-page__content #checkout .actions {
    grid-area: checkout_actions;
    grid-column: span 2;
  }

  /* Checkout > Contacts section */
  .cart-page__content #contacts_email,
  .cart-page__content #contacts_phone {
    width: 50%;
  }

  /* Checkout > Shipping Address section */
  .cart-page__content #shipping_address_name,
  .cart-page__content #shipping_address_surname {
    width: 50%;
  }

  .cart-page__content:has(#shipping_address_taxid) #shipping_address_name,
  .cart-page__content:has(#shipping_address_taxid) #shipping_address_surname,
  .cart-page__content #shipping_address_taxid {
    width: 33.3333%;
  }

  .cart-page__content:has(#shipping_address_company_name) #shipping_address_name,
  .cart-page__content:has(#shipping_address_company_name) #shipping_address_surname {
    width: 50%;
  }

  .cart-page__content:has(#shipping_address_company_name) #shipping_address_company_name,
  .cart-page__content:has(#shipping_address_company_name) #shipping_address_business_activity,
  .cart-page__content #shipping_address_taxid {
    width: 33.3333%;
  }

  .cart-page__content #shipping_address_address {
    width: 66.6666%;
  }

  .cart-page__content #shipping_address_city {
    width: 33.3333%;
  }

  .cart-page__content #shipping_address_country,
  .cart-page__content #shipping_address_region,
  .cart-page__content #shipping_address_municipality {
    width: 33.3333%;
  }

  .cart-page__content:has(#shipping_address_postal:not([style="display: none;"])) #shipping_address_country,
  .cart-page__content:has(#shipping_address_postal:not([style="display: none;"])) #shipping_address_region,
  .cart-page__content:has(#shipping_address_postal:not([style="display: none;"])) #shipping_address_municipality,
  .cart-page__content #shipping_address_postal {
    width: 25%;
  }

  /* Checkout > Billing Address section */
  .cart-page__content #billing_address_name,
  .cart-page__content #billing_address_surname {
    width: 50%;
  }

  .cart-page__content:has(#billing_address_taxid) #billing_address_name,
  .cart-page__content:has(#billing_address_taxid) #billing_address_surname,
  .cart-page__content #billing_address_taxid {
    width: 33.3333%;
  }

  .cart-page__content:has(#billing_address_company_name) #billing_address_name,
  .cart-page__content:has(#billing_address_company_name) #billing_address_surname {
    width: 50%;
  }

  .cart-page__content:has(#billing_address_company_name) #billing_address_company_name,
  .cart-page__content:has(#billing_address_company_name) #billing_address_business_activity,
  .cart-page__content #billing_address_taxid {
    width: 33.3333%;
  }

  .cart-page__content #billing_address_address {
    width: 66.6666%;
  }

  .cart-page__content #billing_address_city {
    width: 33.3333%;
  }

  .cart-page__content #billing_address_country,
  .cart-page__content #billing_address_region,
  .cart-page__content #billing_address_municipality {
    width: 33.3333%;
  }

  .cart-page__content:has(#billing_address_postal:not([style="display: none;"])) #billing_address_country,
  .cart-page__content:has(#billing_address_postal:not([style="display: none;"])) #billing_address_region,
  .cart-page__content:has(#billing_address_postal:not([style="display: none;"])) #billing_address_municipality,
  .cart-page__content #billing_address_postal {
    width: 25%;
  }

  /* Checkout > Payments & Shipping */
  .cart-page__content #payments {
    padding-right: calc(var(--section-content-static-padding));
    grid-column: 1 / 2;
  }

  .cart-page__content #shipping {
    padding-left: calc(var(--section-content-static-padding));
    grid-column: 2 / 2;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  #checkout:not(:has(#shipping)) #payments {
    min-width: calc(100vw - calc(var(--section-content-static-padding) * 4));
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  #checkout:not(:has(#shipping)) #payments {
    min-width: calc(calc(100vw * 0.6667) - calc(var(--section-content-static-padding) * 4));
    padding-right: 0;
  }
}

/* 7. Customer Registration form on Success page (Credentials)
======================================================== */
.cart-page #credentials {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: calc(var(--section-content-static-padding) * 1.25);
  gap: calc(var(--section-content-static-padding) * 1.25);
}

.cart-page #credentials label {
  display: block;
  margin-bottom: calc(var(--section-content-static-padding) * 0.5);
  line-height: 1;
}

.cart-page #credentials .actions {
  padding-top: calc(var(--section-content-static-padding) * 0.5);
}

.cart-page #login #credentials .actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--section-content-static-padding);
}

/* 8. Shopping Process Media Queries
======================================================== */
@media (max-width: 575px) {
  .cart-header__logo {
    height: var(--cart-header-logo-height-mobile);
  }

  .cart-page__content {
    padding: calc(var(--section-content-static-padding) * 3) calc(var(--section-content-static-padding) * 1) calc(var(--section-content-static-padding) * 1);
  }

  .cart-header__item {
    display: none !important;
  }

  .cart-header__item[data-current="true"],
  .cart-header__item[data-current="true"] + .cart-header__item,
  .cart-header__item[data-current="true"] + .cart-header__item + .cart-header__item {
    display: block !important;
  }

  .cart-page__product-table .store-product__anchor {
    display: none;
  }

  .cart-summary {
    padding-right: calc(var(--section-content-static-padding) * 1);
    padding-left: calc(var(--section-content-static-padding) * 1);
  }
}

@media (min-width: 576px) {
  .cart-header__logo {
    height: var(--cart-header-logo-height-desktop);
  }

  .cart-header__text,
  .cart-header__link {
    font-size: calc(var(--font-base-size) * 0.9);
  }

  .cart-header__caret {
    font-size: calc(var(--font-base-size) * 0.8);
  }
}

@media (max-width: 991px) {
  .cart-summary {
    padding-bottom: calc(var(--section-content-static-padding) * 18);
  }

  .cart-summary .store-totals__actions {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc(var(--section-content-static-padding) * 2);
    background: var(--color-background);
  }
}

@media (min-width: 992px) {
  .cart-page__content {
    padding: calc(var(--section-content-static-padding) * 3) calc(var(--section-content-static-padding) * 2) calc(var(--section-content-static-padding) * 2);
  }
}

/* 8. Shopping Process Spacing overrides
======================================================== */
.cart-page__content .theme-section,
.cart-page__content .theme-section__container,
.cart-page__content .theme-section__content-wrapper {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.cart-page__content .theme-section .theme-section__content:has(.theme-accordion) {
  margin-right: var(--section-content-margin) !important;
  margin-left: var(--section-content-margin) !important;
}

.cart-page__content .theme-section__heading .theme-section__column {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
